body {
  margin: auto;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url(https://forums.unrealengine.com/filedata/fetch?id=1113441&d=1470732920);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  display:flex;
  flex-wrap: wrap;
  height: 350px;
  max-height: 100%;
    
}

a {
  color: #00B7FF;
}

.weather{
    border: 5px solid darkblue;
    opacity: 0.6;
    background-color: #ffffff;
    margin: auto;
    padding:25px;
    max-width: 33%;
    width:300px;
    align-content: center;
    text-align: center;
}

.weather li{
    text-align: left;
}

.word-define{
    border: 5px solid darkblue;
    opacity: 0.6;
    background-color: #ffffff;
     margin: auto;
    padding:25px;
    max-width: 33%;
    width:300px;
    align-content: center;
    text-align: center;
}

.word-define li{
    text-align: left;
}

.se{
    border: 5px solid darkblue;
    opacity: 0.6;
    background-color: #ffffff;
     margin: auto;
    padding:25px;
    max-width: 33%;
    width:300px;
    align-content: center;
    text-align: center;
}

.se li{
    text-align: left;
}